@model IEnumerable<Entidades.E.Local>
@{
    ViewBag.Title = "CreateLocal";
}
div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>
		
<div>

    <font size="5" color="White">Adicione um local</font>
</div>		
<div class="panel">
    <form action="~/Local/CreateLocal" method="post">



        <div class="form-group">
            <label>Sigla </label>
            <input class="form-control" placeholder="Sigla do Estado" type="text" id="sigla" name="sigla" />
        </div>

        <div class="form-group">
            <label>Estado</label>
            <select class="form-control" id="nomeEstado" name="nomeEstado">
                <option value="">Selecione</option>
                <option value="Acre">Acre</option>
                <option value="Alagoas">Alagoas</option>
                <option value="Amapá">Amapá</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Bahia">Bahia</option>
                <option value="Ceará">Ceará</option>
                <option value="Distrito Federal">Distrito Federal</option>
                <option value="Espirito Santo">Espirito Santo</option>
                <option value="Goiás">Goiás</option>
                <option value="Maranhão">Maranhão</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                <option value="Mato Grosso">Mato Grosso</option>
                <option value="Minas Gerais">Minas Gerais</option>
                <option value="Pará">Pará</option>
                <option value="Paraíba">Paraíba</option>
                <option value="Paraná">Paraná</option>
                <option value="Pernambuco">Pernambuco</option>
                <option value="Piauí">Piauí</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                <option value="Rondônia">Rondônia</option>
                <option value="Roraima">Roraima</option>
                <option value="Santa Catarina">Santa Catarina</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Sergipe">Sergipe</option>
                <option value="Tocantins">Tocantins</option>
            </select>
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <input class="form-control" placeholder="Nome da Cidade" type="text" id="nomeCidade" name="nomeCidade" />
        </div>
            


           



        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>
