@model IEnumerable<Entidades.E.Local>
@{
    ViewBag.Title = "Local";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>
		
<div>

    <font size="5" color="White">Locais</font>
</div>		
<a class="btn btn-block" href="~/Local/CreateLocal"> + Local</a>
<table class="table table-responsive ">
    <thead>
        <tr>
            <th>Sigla do Estado</th>
            <th>Nome do Estado</th>
            <th>Cidade</th>
             
           
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.sigla</th>
            <th>@item.nomeEstado</th>
            <th>@item.nomeCidade</th>
            
            

            <th><a class="btn btn-warning" href="~/Local/UpdateLocal/@item.idLocal">Atualizar</a></th>
            
        </tr>
    }
</table>
