@model Entidades.E.Local
@{
    ViewBag.Title = "UpdateLocal";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>

			
<div>

    <font size="5" color="White">Editar</font>
</div>		
<div>
    <form action="~/Local/UpdateLocal" method="post">


        <div class="form-group">

            <input class="form-control" type="hidden" id="idLocal" name="idLocal" value="@Model.idLocal" />
        </div>

        <div class="form-group">
            <label>Sigla </label>
            <input class="form-control" placeholder="Sigla do Estado" type="text" id="sigla" name="sigla" value="@Model.sigla"/>
        </div>

        <div class="form-group">
            <label>Estado</label>
            <input class="form-control" placeholder="Nome do Estado" type="text" id="nomeEstado" name="nomeEstado" value="@Model.nomeEstado" />
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <input class="form-control" placeholder="Nome da Cidade" type="text" id="nomeCidade" name="nomeCidade" value="@Model.nomeCidade" />
        </div>







        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>