@model IEnumerable<Entidades.E.Empresas>
@{
    ViewBag.Title = "CreateEmpresas";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li> 
        <div class="clear"> </div>
    </ul>
</div>

<div>

    <font size="5" color="White">Cadastro de Empresa</font>
</div>		



<div class="panel">
    <form action="CreateEmpresas" method="post">




        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" placeholder="Nome da Empresa" type="text" id="nomeEmpresa" name="nomeEmpresa" />
        </div>

        <div class="form-group">
            <label>Endereço</label>
            <input class="form-control" placeholder="Endereço da Empresa" type="text" id="enderecoEmpresa" name="enderecoEmpresa" />
        </div>

              
        <div class="form-group col-lg-12">
             <label>Usuário</label>
             <input class="form-control" maxlength="15" type="text" name="loginEmpresa.user">
             <label>Senha</label>
             <input class="form-control" minlength="5" maxlength="15" type="password" name="loginEmpresa.senha">
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <select class="form-control" id="SelectedUserRoleId" name="localEmpresa.idLocal">
                <option value="value">Selecione uma Cidade</option>

                @foreach (var item in @ViewBag.ListEstado)
                {
                    <option value="@item.idLocal">@item.nomeCidade</option>
                }

            </select>
        </div>
        

      
        <button class="btn btn-default" type="submit">Salvar</button>
    </form>
</div>
