
@{
    ViewBag.Title = "Index";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <div class="clear"> </div>
    </ul>
</div>

			</div>


<div class="image-slider">

    <ul class="rslides" id="slider1">
        <li><img src="~/images/slider1.jpg" alt=""></li>
        <li><img src="~/images/slider3.jpg" alt=""></li>
        <li><img src="~/images/slider1.jpg" alt=""></li>
    </ul>

</div>


			</div>