@model IEnumerable<Entidades.E.Empresas>
@{
    ViewBag.Title = "Empresas";
}
<div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>

		
<div>

    <font size="5" color="White">Empresas</font>
</div>		

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Estado</th>
            <th>Cidade</th>
       </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.nomeEmpresa</th>
            <th>@item.enderecoEmpresa</th>
            <th>@item.localEmpresa.nomeEstado</th>
            <th>@item.localEmpresa.nomeCidade</th>
            
           
            <th><a class="btn btn-warning" href="~/Empresas/UpdateEmpresas/@item.idEmpresa">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Empresas/Delete/@item.idEmpresa">Deletar</a></th>
        </tr>
    }
</table>

