@model IEnumerable<Entidades.E.Musico>
@{
    ViewBag.Title = "Musicos";
}
div class="clear"> </div>
<div class="top-nav">
    <ul>
        <li class="active1"><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Musicos/Musicos">Musicos</a></li>
        <li><a href="~/Empresas/Empresas">Empresas</a></li>
        <li><a href="~/Local/Local">Local</a></li>
        <li><a href="~/Eventos/Eventos">Eventos</a></li>
        <div class="clear"> </div>
    </ul>
</div>

			
<div>

    <font size="5" color="White">Musicos</font>
</div>		


<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Estado</th>
            <th>Cidade</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.nomeMusico</th>
            <th>@item.enderecoMusico</th>
            <th>@item.localMusico.nomeEstado</th>
            <th>@item.localMusico.nomeCidade</th>


            <th><a class="btn btn-warning" href="~/Musicos/UpdateMusicos/@item.idMusico">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Musicos/Delete/@item.idMusico">Deletar</a></th>
        </tr>
    }
</table>